@tailwind base;
@tailwind components;
@tailwind utilities;

/* Chart Animations */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
